body{
    background-color: aliceblue;
    margin:auto;
}
a{
    text-decoration: none;
}
header{
    height:60px;
    color:#fff;
    margin-top: 3%;
    background-color:burlywood;
   /* position:absolute;*/
}
header > h1{
    margin-top: 1%;
    position: absolute;
    margin-left: 46%;
}
#mainSection >img{
    border-radius: 50%;
    position:absolute;
    margin-left: 5%;
}

#mainSection{
    margin-top: 2%;
    float: left;
}

.aboutMe{
    display: inline-block;  
    width: 50%;
    margin-top: 2%;
    margin-left: 40%;      
}

/*SKILL DETAILS*/
.skillSection{
    height: 250px;
    margin-top: 25%;
    background-color: rgb(131, 125, 125);
    /* border:3px solid red; */
    
}
.skillSection > h2{
    padding-top: 2%;
    text-align: center;
    color:#fff;
}
.card >img {    
    float:left;
    }
.cardImage{
    margin-top: 3%;
    margin-left: 12%;
    display: inline-block;
   
}

/* footer*/
#social{
   text-align: center;
    
} 
.socialLogo{
    height:50px;
}

